<%= render 'layouts/header'%>
</header>
<div class= content>
  <a href="/" class="new_return">return</a>
  <div class= "new_content">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <label for="lable_title" class="label_title">name</font></label>
    　  <%=f.text_field :name, id:"lable_title",class:"title_form"%>
    　<label for="lable_image" class="label_image">mail</font></label>
    　  <%=f.text_field :email, id:"lable_image",class:"image_form"%>
      <label for="lable_image" class="label_image">password</font></label>
    　  <%=f.text_field :password, id:"lable_image",class:"image_form",autocomplete: "off"%>
      <input type="submit" class="new_submit" value="send">
    <%end%>
  </div>
</div>