<header class= "header">
  <h1 class = "h1"><%=@tweets.title%></h1>
  <p class="show-name">name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@tweets.name%></p>
</header>
<div class="show_content">
  <div class= "show_contents">
    <div class="show_image">
      <%= image_tag(@tweets.image,:size =>"648x500")%>
    </div>
    <div class="show_text">
      <%= @tweets.text %>
    </div>
  </div>
  <div class="comment">
    <h1 class="h1_comment">comment</h1>
    <div class="comment-box">
    </div>
    <div class="comment-form-box">
      <%= form_with url:  tweet_comments_path(@tweets.id) do |f| %>
        <%=f.text_field :text,class:"comment_text_form"%>
        <input type="submit" class="comment_submit" value="send">
      <%end%>
    </div>
  </div>
</div>
<a href="/" class="show_return">return</a>

