<header class= "header">
  <h1 class = "h1"><%=@name%></h1>
  <a href="/" class="button1">戻る</a>
  <%=link_to "ログアウト", destroy_user_session_path,{method: :delete,class: "button2"}%>
</header>
<div class="content">
  <div class= "contents">
    <% @tweets.each do |t|%>
      <a href="" class="tweets">
        <div class="image">
          <%= image_tag(t.image,:size =>"312x182")%>
        </div>
        <div class="title">
          <%= t.title %>
        </div>
      </a>
    <% end %>
  <%= paginate(@tweets)%>
  </div>
  
</div>