<header class= "header">
  <h1 class = "h1"><%=@name%></h1>
  <a href="/" class="button1">戻る</a>
  <%=link_to "ログアウト", destroy_user_session_path,{method: :delete,class: "button2"}%>
</header>
<div class="content">
  <div class= "contents">
    <% @tweets.each do |t|%>
      <div class= "box">
        <a href="/tweets/<%=t.id%>" class="my_tweets">
          <div class="my_image">
            <%= image_tag(t.image,:size =>"312x182")%>
          </div>
          <div class="my_title">
            <%= t.title %>
          </div>
        </a>
        <%=link_to "編集",root_path,{class:"edit_button"}%>
        <%=link_to "削除",tweet_path,{method: :delete,class:"deleate_button",id:(t.id)}%>
      </div>
    <% end %>
  <%= paginate(@tweets)%>
  </div>
  
</div>